# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Ayush Gupta
email = ayush.keshav2004@gmail.com
[commit]
  gpgsign = true # expect system level signing key is set.
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[color]
	ui = auto
